<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="es.rafa.cmstraining.myBatisMapper.Mapper">

    <select id="getAllUsers" resultType="es.rafa.cmstraining.DAO.UserDAO">
        SELECT
        id as id,
        first_name as name,
        last_name as lastName
        FROM users
    </select>

    <select id="getUserById" resultType="es.rafa.cmstraining.DAO.UserDAO">
        SELECT
        id as id,
        first_name as name,
        last_name as lastName
        FROM users
        WHERE id = #{id}
    </select>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id" parameterType="es.rafa.cmstraining.DAO.UserDAO">
        INSERT INTO users (first_name, last_name) values (#{name},#{lastName});
    </insert>

    <update id="updateUser" parameterType="es.rafa.cmstraining.DAO.UserDAO">
        UPDATE users SET first_name = #{name}, last_name = #{lastName} WHERE id = #{id};
    </update>

    <delete id="deleteUser" parameterType="Long">
        DELETE FROM users WHERE id = #{id};
    </delete>

</mapper>